fdp_mejor_ajuste_consumo.json
fdp_mejor_ajuste_generacion.json
settings.json
fdp/graficos_fdp_consumo/
fdp/graficos_fdp_generacion/
tempCodeRunnerFile.py
resultados_simulacion.csv
resumen_mejores_escenarios.csv
top_10_escenarios_finales.csv